<h1>Sign up</h1>

<%= form_with url: magic_links_path do |f| %>
  <label for="email"><i class="fa-solid fa-envelope"></i> Email</label>
  <%= f.email_field :email, placeholder: "Enter your email address...", required: true, autofocus: true %>

  <label for="role">Are you a DJ/KJ or an audience member?</label>
  <%= f.select :role, [["DJ / KJ", "dj"], ["Audience Member", "audience"]], { selected: "dj" }, { id: "role" } %>

  <%= f.submit "Let's go" %>
<% end %>

<p>Already have an account? <a href="<%= login_path %>">Sign in</a>.</p>
